extends includes/master

block vars
	- var script = 1;
	- var css = 1;
	- var title = 'Arma tu mancha';
	- var modal = 1;

block content
	.page4
		.page4__main
			section.section1
				.section1__align
					.section1__header
						.links
							a.btnBack(href="#") 
								span Volver
							a.btnClose(href="#") 
								span Cerrar sesión
						.title: h2 ¡Ya vas obteniendo 
							span 5 
							| GB por línea! 
					.section1__main
						.title 
							h2 ¡Sigue juntando a más patas para obtener
								br
								| hasta 10 GB por mes durante 1 año!

			section.section2
				.section2__align
					.section2__main
						.title: h2 AVENGERS
						.grid
							.grid__actions
								a(@click='showModal()') 
									img(src=path+'assets/pg4_icon_add.svg' alt='') 
									span Agregar miembro
								a 
									img(src=path+'assets/pg4_icon_leader.svg' alt='') 
									span Cambiar líder
								a 
									img(src=path+'assets/pg4_icon_clean.svg' alt='') 
									span Eliminar miembro
							.grid__info
								table
									thead
										tr
											th.checkbox 
											th: span: strong Alias
											th Teléfono
											th E-mail
											th Inscripción
											th Calificación
									tbody
										tr
											td.checkbox: input(type="checkbox" name="group_mancha")
											td.star: strong Spiderman
											td: span 996******
											td: span corr***@prueba.com
											td: i.ico_like
											td: i.ico_status1
										tr
											td.checkbox: input(type="checkbox" name="group_mancha")
											td: strong Spiderman
											td: span 996******
											td: span corr***@prueba.com
											td: i.ico_unlike 
											td: i.ico_status2
										tr
											td.checkbox: input(type="checkbox" name="group_mancha")
											td: strong Spiderman
											td: span 996******
											td: span corr***@prueba.com
											td: i.ico_status3 
											td: i.ico_status1
										tr
											td.checkbox: input(type="checkbox" name="group_mancha")
											td: strong Spiderman
											td: span 996******
											td: span corr***@prueba.com
											td: i.ico_unlike 
											td: i.ico_status1
										tr
											td.checkbox: input(type="checkbox" name="group_mancha")
											td: strong Spiderman
											td: span 996******
											td: span corr***@prueba.com
											td: i.ico_unlike 
											td: i.ico_status2
							
						.code
							form.form(action="")
								.form__row1
									.form__info: p Si eres el líder y quieres actualizar tu mancha,
										br
										| ingresa tu código.
								.form__row2
									.form__fields
										dl
											dt
												input.form__text1(type='text', name='nombres')
												span Olvide mi código
											dd
												button.button1(type='submit') Continuar
								//.form__row3
									.form__buttons
										button.button2(type='submit') Registrar
										
block modal
	.page1(v-if='modal.page1')
		.page1__close(@click='closeModal()') Cerrar
		section.section1
			.section1__header
				.title
					h3 Agregar Miembro
			.section1__main
				.register
					form.form(action="")
						.form__row1
							.form__fields
								dl
									dt
										input.form__text1(type='text', name='nombres', placeholder="Alias")
									dd
										span.form__error error
						.form__row1
							.form__fields
								dl
									dt
										input.form__text1(type='text', name='nombres', placeholder="Teléfono")
									dd
										span.form__error error
						.form__row1
							.form__fields
								dl
									dt
										input.form__text1(type='text', name='nombres', placeholder="Email")
									dd
										span.form__error error
						
						.form__row3
							.form__buttons
								button.button1(type='button' @click='closeModal()') Registrar
				
	.page2(v-if='modal.page2')
		.page2__close(@click='closeModal()') Cerrar
		section.section1
			.section1__header
				.title.ico_check
					h2 ¿Está seguro que desea eliminar a IRONMAN de la mancha?
			.section1__main
				.register
					form.form(action="")
						.form__row3
							.form__buttons
								button.button1(type='button' @click='closeModal()') Si
								button.button1(type='button' @click='closeModal()') No
	.page3(v-if='modal.page3')
		section.section1
			.section1__main
				.loader
block css
	style(type="text/css").
			
			.fade-enter-active, .fade-leave-active {
				transition: opacity 0.25s ease-out;
			}

			.fade-enter, .fade-leave-to {
				opacity: 0;
			}

block javascript
	script(type="text/javascript" src=path+'js/library/slick.js' charset="utf-8")
	script(type='text/javascript' src=path+'js/main.js')
	script(type='text/javascript').
		//main.init();